a#forgot-pass {
  cursor: pointer;
  text-decoration: underline;
}

/*main*/
main {
  min-height: 70vh;
  display: flex;
  align-items: center;
}

/* Login */
.full-box {
  width: 100%;
}

input.form-control {
  margin: 4px !important;
}

.frm-bg {
  display: flex;
  justify-content: center;
}

#formulario {
  background: #efc88e;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
  padding: 40px;
}

#formulario input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin-bottom: 15px;
}

#formulario a {
  margin-bottom: 100px;
  color: #d28515;
}

#botao-form {
  padding: 8px;
  margin-bottom: 5px;
  background-color: #ff9900;
  display: block;
  border-radius: 1px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  width: 100%;
  border: #ff9900 1px solid;
}

/* Validação */
.error-validation {
  font-size: 14px;
  color: red;
}