/*main*/
main{
    min-height: 70vh;
    display: flex;    
    align-items: center;
}

/* Login */

.frm-bg {
    display: flex;
    justify-content: center;    
}

#formulario {
    background: #EFC88E;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 auto;
    padding: 40px;
}

#formulario input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    margin-bottom: 15px;
}

#formulario a {
    margin-bottom: 100px;
    color:#d28515;
}

#botao-form, #enviar-cod {
    padding: 8px;
    margin-bottom: 5px;
    background-color: #ff9900;
    display: block;
    border-radius: 1px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    width:100%;
    border: #ff9900 1px solid;
}

.full-box {
    width: 100%;
}  

/* Validação */
.error-validation {
    font-size: 14px;
    color: red;
}