body{
    margin: 0;
    padding: 0;
}

/*header*/
header{
    display: flex;
    height: 18vh;
    justify-content: space-between;
    background-color: rgb(239, 200, 142);
}

nav{
    display: flex;
    padding: 20px;
    align-items: center;
}

#divisor-left{
    margin-left: 20px;
}

#divisor-right{
    margin-right: 20px;
}

#logo{
    align-items:flex-end;
}

#opcao-servico-nav{
    display: flex;
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif;  
}

.opcao-div-nav{
    cursor: pointer;
    margin-right: 15px;
}

.botao-nav{
    padding: 8px;
    margin-bottom: 5px;
    background-color: #ff9900;
    display: block;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10pt;
}
main{
    height: 70vh;
}

section{
    text-align: center;
}

/*footer*/
footer{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(236, 112, 0);
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

footer a, h2{
    color: white;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
}

/*area-cliente*/
#saldo-div{
    display: flex;
    align-items: end;
    margin-bottom: 10px;
}

#saldo-div p{
    background-color: #ff9900;
    padding: 5px;
    color: #fff;
}

#dados-div{
    display: flex;
}

#dados-div div{
    margin-right: 10px;
}

#dados-agencia{
    color: #fff;
    background-color: #ff9900;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 40px;
}

#dados-conta{
    color: #fff;
    background-color: #ff9900;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
}

#logout{
    display: flex;
    align-items: end;
    margin-bottom: 13px;
}

#logout img{
    background-color: #ff9900;
    padding: 7px;
}
/*area de pesquisa*/

#search-section{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#search-section label{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ff9900;
    font-weight: 600;
    margin-right: 20px;
    font-size: 13pt;
}

#search-div{
    display: flex;
    box-shadow: 0 0 1em #808080;
    border-radius: 10px;
    padding: 8px;
}

#search-div:hover{
    box-shadow: 0 0 1em #c9c9c9;
}

#search-div input{
    font-size: 12pt;
    width: 23em;
    border: 1px solid #fff;
}

#search-div input:focus{
    outline: none !important;
    border: 1px solid #fff;
    caret-color: #000;
}

#search-div img{
    cursor: pointer;
}
/*nome cliente*/

#nome-cliente-section{
    display: flex;
}

#nome-cliente-section p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20pt;
    font-weight: bold;
    margin-left: 50px;
}

/*servicos*/
#servicos-section{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    display: flex;  
    justify-content: center;  
}

.direction{
    cursor: pointer;
}

#servicos-div{
    display: flex;
    text-align: center;
}

#servicos-div figure{
    cursor: pointer;
}


