/* testeevaldo */

footer {
  color: white;
  background-color: #ec7000;
  padding:20px;
  position:absolute;
  bottom:0;
  width: 100%;

}

footer a:any-link {
  color: white;
}

footer a:link {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

