/* CARACTERISTICAS */

/* Validação */
.error-validation {
  font-size: 14px;
  color: red;
}

#formulario input {
  text-indent: 6px;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin-bottom: 5px;
}

.container, .row { 
  height: 100%; 
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/*header*/
header {
  display: flex;
  height: 18vh;
  justify-content: space-between;
  background-color: rgb(239, 200, 142);
}

nav {
  display: flex;
  padding: 20px;
  align-items: center;
}

#divisor-left {
  margin-left: 20px;
}

#divisor-right {
  margin-right: 20px;
}

#logo {
  align-items: flex-end;
}

#opcao-servico-nav {
  display: flex;
  margin-left: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.opcao-div-nav {
  cursor: pointer;
  margin-right: 15px;
}

.botao-nav {
  padding: 8px;
  margin-bottom: 5px;
  background-color: #ff9900;
  display: block;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 10pt;
}

main {
  height: 80vh;
}

fieldset {
  border-radius: 5px;
  height: auto;
  width: 400px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  display: block;
  justify-content: space-around;
  padding: 30px;
  border: rgb(0, 0, 0) 15px solid;
}

.botaoContinuar {
  margin-top: 2vw;
  font-weight: bold;
  width: 100%;
  height: 51px;
  left: 510px;
  top: 723px;
  background: #ec7000;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: white;
  border: #ec7000 1px solid;
}

.container-fluid {
  color: white;
  background-color: #ec7000;
  padding: 20px;
}

a:any-link {
  color: white;
}

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

/* FIM DE CARACTERISTICAS GERAIS */



/* PRIMEIRA TELA */

#nome {
  background: url("/CadastroDeDados/img/nome.png") no-repeat left center;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 30px;
}

#cpf {
  background: url("/CadastroDeDados/img/documento.png") no-repeat left center;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 30px;
}

#email {
  background: url("/CadastroDeDados/img/email.png") no-repeat left center;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 30px;
}

#numero {
  background: url("/CadastroDeDados/img/telefone.png") no-repeat left center;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 30px;
}

#data {
  background: url("/CadastroDeDados/img/calendario.png") no-repeat left center;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 30px;
}

#renda {
  background: url("/CadastroDeDados/img/renda.png") no-repeat left center;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 30px;
}

/* FIM DE PRIMEIRA TELA */

/* SEGUNDA TELA */

#pais {
  text-align: center;
  background: url("/CadastroDeDados/img/localizacao.png") no-repeat left
    center;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 30px;
}
#estado {
  background: url("/CadastroDeDados/img/localizacao.png") no-repeat left
    center;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 30px;
}
#cidade {
  text-align: center;
  background: url("/CadastroDeDados/img/localizacao.png") no-repeat left
    center;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 30px;
}
#cep {
  background: url("/CadastroDeDados/img/localizacao.png") no-repeat left center;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 30px;
}
#endereco {
  text-align: center;
  background: url("/CadastroDeDados/img/localizacao.png") no-repeat left
    center;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 30px;
}
.cep{
  margin: -5vh 0vh 0vh 0vh;
}

/* FIM DE SEGUNDA TELA */

/* QUARTA TELA */

#senhaaa {
  text-align: center;
  background: url("/CadastroDeDados/img/senha.png") no-repeat left center;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 30px;
}

.sectionPrincipal{
  border: 1px solid red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
 
 }
 .articleTitulo{
   display: flex; 
   justify-content: center; 
   flex-direction: column;
   margin-left: auto; 
   margin-right: auto;
 }
 
 .formPagina{
   display: flex; 
   justify-content: center; 
   margin-left: auto; 
   margin-right: auto;
   flex-direction: column;
 }
 
 
 /*Posicionar ícone dentro do input*/
 .left-inner-addon {
   position: relative;
 }
 .left-inner-addon i {
   position: absolute;
 
   /*margin-top: 35px;*/
   padding: 10px 12px;
   pointer-events: none;
   color: #666;
   display: flex;
 }
 
 .left-inner-addon input.form-control {
   padding-left: 60px;
 }


/* FIM DE QUARTA TELA */

/* QUINTA TELA */

h5 {
  color: #8a8585;
}

h3 {
  padding-bottom: 25px;
}
